<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="sales" sortOrder="999" translate="label">
			<label>sales</label>
		</tab>
		<section id="smile" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Smile.io</label>
			<tab>sales</tab>
			<resource>Mediact_Smile::config_mediact_smile</resource>
			<group id="settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Settings</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="debug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Debug</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="public_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Public API Key</label>
					<comment>Please enter the public API key, supplied by Smile.io</comment>
				</field>
				<field id="private_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>Private Key</label>
					<comment>Please enter the private API key, supplied by Smile.io</comment>
				</field>
			</group>
		</section>
	</system>
</config>
